@CHARSET "ISO-8859-1";


h1{
	padding-left:10px;
	
}
#container{
	min-height: 520px;
	position:relative;

}
#decks{
position:relative;
left:10px;
top:10px;
width:15%;	
}

#deckList{

	width: 17%;
	margin-top: 26px;
	min-height:520px;
	min-width:200px;
	padding-left: 10px;
	padding-bottom: 10px;
	display: block;
	float:left;
	margin-bottom:310px;
}
#handCards{
	position:relative;
	display: block;
	padding: 10px;
	top: 0px;
	width: 100%;
	min-width: 161px;
	min-height: 225px;
	overflow:auto;
}
#newCards{
	position:relative;
	display: block;
	padding: 10px;
	width: 100%;
	min-width:161px;
	min-height: 226px;
	overflow: auto;
	font-size:0px;
}
#drawHand{
	position:relative;
	z-index:1;
	margin-top:0;
	top:-20px;
}

#addCard{
	position:relative;
	left: 15px;
	top: -20px;
	z-index:1;
	margin-top:0;
}
a:link {
	display:block;
	color: black;
	text-decoration: none;

}
a:visited {
	color: black;
}
a:hover {
	background-color: #cce3fa;
	width:90%;
}

a span {
	display:none;
} 

a:hover #hovImg {
	position:absolute;
	display: inline-block;
	margin-left:15px;
	border:solid 1px;
	background-color:white;
	padding: 3px;
	z-index:3;
}

#title {
	font-weight: bold;
	font-size: 100%;
	
}

#format{
	margin-top: 5px;
}

.cardType {
	font-weight: bold;
	background-color: #337ab7;
	color:white;
	width:80%;
	margin-top: 10px;
	margin-bottom: 5px;
	
}

.cards {
	display: inline-block;
	font-size:0;
	border: none;
	vertical-align:top;
	width: 161px;
	height: 225px;
}
.cards img{
	max-width: 161px;
	max-height: 225px;
}

.name_qty{
	margin:0px;
	display:inline-block;
	width:100%;
}


