@CHARSET "ISO-8859-1";

a:link {
	display:block;
	color: black;
	text-decoration: none;
}
a:visited {
	color: black;
}
a:hover {
	background-color: #cce3fa;
}

a span {
	display:none;
} 

a:hover #hovImg {
	position:absolute;
	display: inline-block;
	margin-left: 17%;
	z-index:3;
}

#title {
	font-weight: bold;
	font-size: 125%;
	
}
#deckList{
	overflow:visible;
	min-height: 520px;
	position:relative;
	
}
#cardList{

	width: 17%;
	margin-top: 21.5px;
	min-height:520px;
	min-width:200px;
	padding-left: 10px;
	padding-bottom: 10px;
	display: block;
	float:left;
	overflow:auto;
	
}

.title {
	font-weight: bold;
	background-color: a9a9a9;
	margin-right: 65px;
	margin-top: 10px;
	margin-bottom: 5px;
	
}
#format{
	margin-top: 5px;

}


#drawCards{
	position:relative;
	z-index:1;
	margin-top:0;
	top:-20px;
}

#addCard{
	position:relative;
	left: 15px;
	top: -20px;
	z-index:1;
	margin-top:0;
}

#cardHands{
	position:relative;
	display: block;
	padding: 10px;
	left:10px;
	top: 0px;
	width: 100%;
	min-width: 161px;
	min-height: 225px;
	overflow:auto;
}
.cards {
	display: inline-block;
	font-size:0;
	border: none;
	vertical-align:top;
	width: 161px;
	height: 225px;
}
.cards img{
	max-width: 161px;
	max-height: 225px;
}

#addHands{
	position:relative;
	display: block;
	padding: 10px;
	left:10px;
	top: 15px;
	width: 100%;
	min-width:161px;
	min-height: 226px;
	overflow: auto;
	text:0px;
}
